.card.is-stretchable {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button.is-multiline {
  min-height: 2.25em;
  white-space: unset;
  height: auto;
  flex-direction: column;
}
