{% extends "layout.html" %}
{% block content %}
<section class="section">
    <header class="block has-text-centered">
        <h1 class="title is-1">Join BookWyrm</h1>
        <p class="subtitle">A Network of Small, Self-Directed Communities</p>
    </header>
</section>

<section class="section p-5">
    <div class="block content">
        <p>
            Instead of one huge BookWyrm site, there are many instances of BookWyrm which can interact seamlessly with one another. You can have the benefits of small community you trust, while still interacting with a large network of interesting new people (when you want to).
        </p>
        <p>
            This means there isn't just one place to sign up! You can select an instance that sounds like a good fit for your interests, or just try one at random &mdash; they're all very nice.
        </p>
    </div>

    <div class="block columns is-multiline">
        <div class="column is-4">
            <div class="card is-stretchable">
                <header class="card-header">
                  <p class="card-header-title">
                    <a href="https://bookwyrm.social/">bookWyrm.social</a>
                  </p>
                </header>
                <div class="card-content is-flex-grow-1 is-flex">
                  <div class="columns is-mobile content">
                      <div class="column is-5">
                          <img src="https://bookwyrm-social.sfo3.digitaloceanspaces.com/static/images/logo.png" alt="Instance logo">
                      </div>
                      <div class="column is-flex is-flex-direction-column">
                          <p class="is-flex-grow-1">Flagship instance, general purpose</p>
                          <div>
                              <a href="https://bookwyrm.social/" class="button is-success is-rounded">Join</a>
                          </div>
                      </div>
                  </div>

                </div>
                <footer class="card-footer has-text-centered">
                    <span class="card-footer-item">661 users</span>
                    <span class="card-footer-item">Open registration</span>
                    <a href="https://www.bookwyrm.social/about" class="card-footer-item">Learn More</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card is-stretchable">
                <header class="card-header">
                  <p class="card-header-title">
                    <a href="https://wyrms.de/">wyrms.de</a>
                  </p>
                </header>
                <div class="card-content is-flex-grow-1 is-flex">
                  <div class="columns is-mobile content">
                      <div class="column is-5">
                          <img src="https://wyrms.de/images/logos/wyrm_bright_300.png" alt="Instance logo">
                      </div>
                      <div class="column is-flex is-flex-direction-column">
                          <p class="is-flex-grow-1">The Dispossessed (Le Guin) and everything else</p>
                          <div>
                              <a href="https://wyrms.de/" class="button is-link is-rounded">Request Invite</a>
                          </div>
                      </div>
                  </div>

                </div>
                <footer class="card-footer has-text-centered">
                    <span class="card-footer-item">17 users</span>
                    <span class="card-footer-item">Registration by request</span>
                    <a href="https://wyrms.de/about" class="card-footer-item">Learn More</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card is-stretchable">
                <header class="card-header">
                  <p class="card-header-title">
                    <a href="https://cutebook.club/">cutebook.club</a>
                  </p>
                </header>
                <div class="card-content is-flex-grow-1 is-flex">
                  <div class="columns is-mobile content">
                      <div class="column is-5">
                          <img src="https://cutebook.club/images/logos/logo.png" alt="Instance logo">
                      </div>
                      <div class="column is-flex is-flex-direction-column">
                          <p class="is-flex-grow-1">General purpose</p>
                          <div>
                              <a href="https://cutebook.club/" class="button is-success is-rounded">Join</a>
                          </div>
                      </div>
                  </div>

                </div>
                <footer class="card-footer has-text-centered">
                    <span class="card-footer-item">9 users</span>
                    <span class="card-footer-item">Open registration</span>
                    <a href="https://cutebook.club/about" class="card-footer-item">Learn More</a>
                </footer>
            </div>
        </div>

        <div class="column is-4">
            <div class="card is-stretchable">
                <header class="card-header">
                  <p class="card-header-title">
                    <a href="https://book.dansmonorage.blue/">在我书目/Dans Mon Catalogue</a>
                  </p>
                </header>
                <div class="card-content is-flex-grow-1 is-flex">
                  <div class="columns is-mobile content">
                      <div class="column is-5">
                          <img src="https://book.dansmonorage.blue/images/logos/BC12B463-A984-4E92-8A30-BC2E9280A331_1.jpg" alt="Instance logo">
                      </div>
                      <div class="column is-flex is-flex-direction-column">
                          <p class="is-flex-grow-1">General purpose</p>
                          <div>
                              <a href="https://book.dansmonorage.blue/" class="button is-success is-rounded">Join</a>
                          </div>
                      </div>
                  </div>

                </div>
                <footer class="card-footer has-text-centered">
                    <span class="card-footer-item">4 users</span>
                    <span class="card-footer-item">Open registration</span>
                    <a href="https://book.dansmonorage.blue/about" class="card-footer-item">Learn More</a>
                </footer>
            </div>
        </div>
    </div>
</section>
{% endblock %}
