{% extends "layout.html" %}
{% block content %}
<section class="section">
    <header class="block has-text-centered">
        <h1 class="title is-1">{{ _("Join BookWyrm") }}</h1>
        <p class="subtitle">{{ _("A Network of Small, Self-Directed Communities") }}</p>
    </header>
</section>

<section class="section p-5">
    <div class="block content">
        <p>
            {{ _("Instead of one huge BookWyrm site, there are many instances of BookWyrm which can interact seamlessly with one another. You can have the benefits of small community you trust, while still interacting with a large network of interesting new people (when you want to).")}}
        </p>
        <p>
            {{ _("This means there isn't just one place to sign up! You can select an instance that sounds like a good fit for your interests, or just try one at random &mdash; they're all very nice.") }}
        </p>
    </div>

    <div id="sort" class="block">
        <b>{{ _("Sort By")}}:</b>
        <div id="sort-options" class="buttons has-addons">
            <button class="button sort-option">{{ _("Users")}}</button>
            <button class="button sort-option">{{ _("Version")}}</button>
            <button class="button sort-option">{{ _("Registration Status")}}</button>
        </div>
    </div> 

    <div class="block columns is-multiline" id="cards">
        {% for instance in instances %}
        {% if not instance.skip %}
        <div class="column is-6">
            <div class="card is-stretchable">
                <header class="card-header">
                  <p class="card-header-title">
                  <a class="name" href="{{ instance.path }}">{{ instance.name }}</a>
                  </p>
                </header>
                <div class="card-content is-flex-grow-1 is-flex">
                  <div class="columns is-mobile content">
                      <div class="column is-5">
                          <a href="{{ instance.path }}" target="_blank">
                              <img src="{{ instance.logo }}" alt="">
                          </a>
                      </div>
                      <div class="column is-flex is-flex-direction-column">
                          <div class="is-flex-grow-1 pb-3">{{ instance.description }}</div>
                          <div class="registration">
                              {% if instance.registration == "open" %}
                                  <a href="{{ instance.path }}" class="button is-success is-rounded is-multiline">{{ _("Join instance") }}</a>
                              {% elif instance.registration == "closed" %}
                                  <a href="{{ instance.path }}" class="button is-disabled is-rounded is-multiline">{{ _("Registration closed") }}</a>
                              {% else %}
                                  <a href="{{ instance.path }}" class="button is-link is-rounded is-multiline">{{ _("Request Invite") }}</a>
                              {% endif %}
                          </div>
                      </div>
                  </div>

                </div>
                <footer class="card-footer has-text-centered">
                    <span class="card-footer-item users">{{ _("%s users" % instance.users) }}</span>
                    <span class="card-footer-item version">{{ _("Version %s" % instance.version)}}</span>
                    <a href="{{ instance.path }}about" class="card-footer-item">{{ _("Learn More")}}</a>
                </footer>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="notification has-text-centered">
        {{ _("Is your instance missing from this list?") }}

        <p class="has-text-weight-bold">
            <a href="https://github.com/bookwyrm-social/join-bookwyrm/issues" target="_blank">
                {{ _("Open a GitHub issue") }}
            </a>
        </p>
    </div>
    <div class="notification has-text-centered">
        {{ _("Not finding what you want?") }}

        <p class="has-text-weight-bold">
            <a href="https://docs.joinbookwyrm.com/install-prod.html" target="_blank">
                {{ _("Run your own BookWyrm community") }}</a>
            &middot;
            <a href="https://www.patreon.com/posts/64768354" target="_blank">
                {{ _("Or skip the technical work and get managed hosting") }}</a>
        </p>
    </div>
</section>
<script>
    // Get references to DOM elements
    const cardsContainer = document.getElementById('cards');
    const cards = Array.prototype.slice.call(document.querySelectorAll('.column.is-6'));
    const sortOptions = document.querySelectorAll('#sort-options > button');

    const sort = option => {
        switch (option) {
            case 'Users':
                cards.sort((a, b) => {
                    // Process HTML node text to get raw number and coerce string to num with +.
                    // This sorts by descending value.
                    const first = +a.querySelector('.users').innerText.split(' ')[0].replace(',', '');
                    const second = +b.querySelector('.users').innerText.split(' ')[0].replace(',', '');
                    return second - first;
                });
                break;
            case 'Version':
                cards.sort((a, b) => {
                    // Process HTML node text to get each of the semver parts in an array.
                    // Once separated, check for equality at each step and then sort when necessary.
                    // Coerce strings to nums just in case semver parts ever reach double digits.
                    const first = a.querySelector('.version').innerText.split(' ')[1].split('.');
                    const second = b.querySelector('.version').innerText.split(' ')[1].split('.');
                    if (first[0] === second[0]) {
                        if (first[1] === second[1]) {
                            if (first[2] === second[2]) return 0;
                            return +first[2] > +second[2] ? -1 : 1;
                        }
                        return +first[1] > +second[1] ? -1 : 1;
                    }
                    return +first[0] > +second[0] ? -1 : 1;
                });
                break;
            case 'Registration Status':
                cards.sort((a, b) => {
                    // Grab the classList of each of the join buttons, then manually compare them.
                    // Sorts by Open > Request Invite > Closed.
                    const first = a.querySelector('.registration > a').classList;
                    const second = b.querySelector('.registration > a').classList;
                    if (first === second) return 0;
                    if (first.contains('is-success') && !second.contains('is-success')) return -1;
                    if (!first.contains('is-success') && second.contains('is-success')) return 1;
                    if (first.contains('is-link') && second.contains('is-disabled')) return -1;
                    if (first.contains('is-disabled') && second.contains('is-link')) return 1;
                });
                break;
        }
        cardsContainer.innerHTML = '';
        cards.forEach(card => cardsContainer.append(card));
    }

    sortOptions.forEach(option => {
        option.onclick = () => {
            sortOptions.forEach(option2 => {
                if (option2 !== option) {
                    option2.classList.remove('is-info', 'is-selected');
                }
            });
            option.classList.add('is-info', 'is-selected');
            sort(option.innerText);
        }
    })
</script>
{% endblock %}